body{
    margin:0;
    padding:0;
}


#box{
    background-color: lightblue;
    padding:25px;
    border:2px solid blue;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
h2 , p{
    color:blue;
}
button{
    padding:8px 12px;
    color:blue;
    background-color: lightblue;
    border:2px solid blue;
    border-radius:8px;
    box-shadow:0px 4px 10px gray;
}


